
/* Variables globales */
:root {
    --color-primary: #000000;
    --color-secondary: #636363;
    --color-bordes: #f6c929;
    --color-letras: #c0c0c0;
    --color-background: #f4f1f8;
    --color-navbar: #000000;
    --font-principal: 'Bodoni Moda SC', serif;
    --font-secundaria: 'Arial', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--font-secundaria);
    background-color: var(--color-background);
    padding-top: 145px;
    overflow-x: hidden; 
}

/* Importar componentes CSS */
@import url('./components/css/navbar.css');
@import url('./components/css/cart.css');
@import url('./components/css/slider.css');
@import url('./components/css/cards.css');
@import url('./components/css/footer.css');