/* CSS Variables - Variables globales */
:root {
    --color-primary: #000000;
    --color-secondary: #636363;
    --color-bordes: #f6c929;
    --color-letras: #c0c0c0;
    --color-background: #727272;
    --color-navbar: #000000;
    --color-anuncios: #d84f4f;
    --font-principal: 'Manufacturing Consent', serif;
    --font-secundaria: 'Bodoni Moda SC', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--font-secundaria);
    background-color: var(--color-background);
    padding-top: 135px;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}