<!-- Hero Slider Component -->
<section class="tarjeta_slider" id="sliderr">
    <div class="slider-bg"></div>

    <div id="main-slider" class="splide text-slider">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="./assets/fotos_slides/casaclan.jpeg">
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="./assets/fotos_slides/whitetrash.jpeg">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>