<!-- Hombre Section Component -->
<section id="hombre">
    <h2>Ropa de Hombre</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/camisa_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/camisa_hombre.jpg",
                        "./assets/fotos_productos/canguro_hombre.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Camisa</h3>
            <p>Talles S al Xl</p>
            <p>$10.000</p>
            <button onclick="addToCart('Camisa Hombre', 10000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_hombre.jpg",
                        "./assets/fotos_productos/camisa_hombre.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Canguro</h3>
            <p>Talles S al Xl</p>
            <p>$25.000</p>
            <button onclick="addToCart('Canguro Hombre', 25000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/camisa_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/camisa_hombre.jpg",
                        "./assets/fotos_productos/canguro_hombre.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Camisa Leñador</h3>
            <p>Talles S al Xl</p>
            <p>$12.000</p>
            <button onclick="addToCart('Camisa Leñador', 12000)">Agregar</button>
        </div>
        
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_hombre.jpg",
                        "./assets/fotos_productos/camisa_hombre.jpg"
                    ]'>
                <button class="next">▶</button>

            </div>
            <h3>Canguro Oversize</h3>
            <p>Talles S al Xl</p>
            <p>$30.000</p>
            <button onclick="addToCart('Canguro Hombre Oversize', 30000)">Agregar</button>
        </div>
    </div>
</section>