<section id="calzados">
    <h2>Calzados</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>
                <img src="./assets/fotos_productos/zapatilla1.jpg" 
                    data-images='[
                        "./assets/fotos_productos/zapatilla1.jpg",
                        "./assets/fotos_productos/zapatilla2.jpg",
                        "./assets/fotos_productos/zapatilla3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Zapatillas UrbanZone</h3>
            <p>Talles 35 al 45</p>
            <p>$35.000</p>
            <button onclick="addToCart('Zapatillas UrbanZone', 35000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/zapatilla2.jpg" 
                    data-images='[
                        "./assets/fotos_productos/zapatilla2.jpg",
                        "./assets/fotos_productos/zapatilla1.jpg",
                        "./assets/fotos_productos/zapatilla3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Zapatillas UrbanZone</h3>
            <p>Talles 35 al 45</p>
            <p>$30.000</p>
            <button onclick="addToCart('Zapatillas UrbanZone', 30000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/zapatilla3.jpg" 
                    data-images='[
                        "./assets/fotos_productos/zapatilla3.jpg",
                        "./assets/fotos_productos/zapatilla2.jpg",
                        "./assets/fotos_productos/zapatilla1.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Zapatillas UrbanZone</h3>
            <p>Talles 35 al 45</p>
            <p>$40.000</p>
            <button onclick="addToCart('Zapatillas UrbanZone', 40000)">Agregar</button>
        </div>
    </div>
</section>

<section id="accesorios">
    <h2>Accesorios</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/gorra1.jpg" 
                    data-images='[
                        "./assets/fotos_productos/gorra1.jpg",
                        "./assets/fotos_productos/gorra2.jpg",
                        "./assets/fotos_productos/gorra3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Bondi.co Animal Print<h3>
            <p>Talles S al XL</p>
            <p>$12.000</p>
            <button onclick="addToCart('Gorra Print', 12000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/gorra2.jpg" 
                    data-images='[
                        "./assets/fotos_productos/gorra2.jpg",
                        "./assets/fotos_productos/gorra1.jpg",
                        "./assets/fotos_productos/gorra3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Bondi.co Marron<h3>
            <p>Talles S al L</p>
            <p>$10.000</p>
            <button onclick="addToCart('Gorra Marron', 10000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/gorra3.jpg" 
                    data-images='[
                        "./assets/fotos_productos/gorra3.jpg",
                        "./assets/fotos_productos/gorra2.jpg",
                        "./assets/fotos_productos/gorra1.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Bondi.co Camel<h3>
            <p>Talles S al XL</p>
            <p>$14.000</p>
            <button onclick="addToCart('Gorra Camel', 14000)">Agregar</button>
        </div>
    </div>
</section>