<!-- Hombre Section Component -->
<section id="hombre">
    <h2>Ropa de Hombre</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/camisa_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/camisa_hombre.jpg",
                        "./assets/fotos_productos/canguro_hombre.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Camisa</h3>
            <p>Talles S al Xl</p>
            <p>$5.000</p>
            <button onclick="addToCart('Camisa Hombre 50% off', 5000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_hombre.jpg",
                        "./assets/fotos_productos/camisa_hombre.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Canguro</h3>
            <p>Talles S al Xl</p>
            <p>$12.500</p>
            <button onclick="addToCart('Cang H 50% off', 12500)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/camisa_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/camisa_hombre.jpg",
                        "./assets/fotos_productos/canguro_hombre.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Camisa Leñador</h3>
            <p>Talles S al Xl</p>
            <p>$6.000</p>
            <button onclick="addToCart('Camisa Leñ 50% off', 6000)">Agregar</button>
        </div>
        
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_hombre.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_hombre.jpg",
                        "./assets/fotos_productos/camisa_hombre.jpg"
                    ]'>
                <button class="next">▶</button>

            </div>
            <h3>Canguro Oversize</h3>
            <p>Talles S al Xl</p>
            <p>$15.000</p>
            <button onclick="addToCart('Canguro H Over 50% off', 15000)">Agregar</button>
        </div>
    </div>
</section>

<!-- Mujer Section Component -->
<section id="mujer">
    <h2>Ropa de Mujer</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/renera_mujer.jpg" 
                    data-images='[
                        "./assets/fotos_productos/renera_mujer.jpg",
                        "./assets/fotos_productos/canguro_dama.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Remera</h3>
            <p>Talles S al Xl</p>
            <p>$9.000</p>
            <button onclick="addToCart('Remera Mujer 50% off', 9000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_dama.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_dama.jpg",
                        "./assets/fotos_productos/renera_mujer.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Canguro</h3>
            <p>Talles S al Xl</p>
            <p>$6.000</p>
            <button onclick="addToCart('Canguro Mujer 50% off', 6000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/renera_mujer.jpg" 
                    data-images='[
                        "./assets/fotos_productos/renera_mujer.jpg",
                        "./assets/fotos_productos/canguro_dama.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Remera Basica</h3>
            <p>Talles S al Xl</p>
            <p>$5.000</p>
            <button onclick="addToCart('Remera M Basica 50% off', 5000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_dama.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_dama.jpg",
                        "./assets/fotos_productos/renera_mujer.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Canguro Oversize</h3>
            <p>Talles S al Xl</p>
            <p>$8.000</p>
            <button onclick="addToCart('Cang Mujer Over 50% off', 8000)">Agregar</button>
        </div>
    </div>
</section>

<section id="calzados">
    <h2>Calzados</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>
                <img src="./assets/fotos_productos/zapatilla1.jpg" 
                    data-images='[
                        "./assets/fotos_productos/zapatilla1.jpg",
                        "./assets/fotos_productos/zapatilla2.jpg",
                        "./assets/fotos_productos/zapatilla3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Zapatillas UrbanZone</h3>
            <p>Talles 35 al 45</p>
            <p>$17.500</p>
            <button onclick="addToCart('Zap UrbanZone 50% off', 17500)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/zapatilla2.jpg" 
                    data-images='[
                        "./assets/fotos_productos/zapatilla2.jpg",
                        "./assets/fotos_productos/zapatilla1.jpg",
                        "./assets/fotos_productos/zapatilla3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Zapatillas UrbanZone</h3>
            <p>Talles 35 al 45</p>
            <p>$15.000</p>
            <button onclick="addToCart('UrbanZone 50% off', 15000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/zapatilla3.jpg" 
                    data-images='[
                        "./assets/fotos_productos/zapatilla3.jpg",
                        "./assets/fotos_productos/zapatilla2.jpg",
                        "./assets/fotos_productos/zapatilla1.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Zapatillas UrbanZone</h3>
            <p>Talles 35 al 45</p>
            <p>$20.000</p>
            <button onclick="addToCart('Zapatillas Urb. 50% off', 20000)">Agregar</button>
        </div>
    </div>
</section>

<section id="accesorios">
    <h2>Accesorios</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/gorra1.jpg" 
                    data-images='[
                        "./assets/fotos_productos/gorra1.jpg",
                        "./assets/fotos_productos/gorra2.jpg",
                        "./assets/fotos_productos/gorra3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Bondi.co Animal Print<h3>
            <p>Talles S al XL</p>
            <p>$6.000</p>
            <button onclick="addToCart('Gorra Print 50% off', 6000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/gorra2.jpg" 
                    data-images='[
                        "./assets/fotos_productos/gorra2.jpg",
                        "./assets/fotos_productos/gorra1.jpg",
                        "./assets/fotos_productos/gorra3.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Bondi.co Marron<h3>
            <p>Talles S al L</p>
            <p>$5.000</p>
            <button onclick="addToCart('Gorra Marron 50% off', 5000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/gorra3.jpg" 
                    data-images='[
                        "./assets/fotos_productos/gorra3.jpg",
                        "./assets/fotos_productos/gorra2.jpg",
                        "./assets/fotos_productos/gorra1.jpg"
                    ]'>
                <button class="next">▶</button>
            </div>
            <h3>Bondi.co Camel<h3>
            <p>Talles S al XL</p>
            <p>$7.000</p>
            <button onclick="addToCart('Gorra Camel 50% off', 7000)">Agregar</button>
        </div>
    </div>
</section>