<!-- Mujer Section Component -->
<section id="mujer">
    <h2>Ropa de Mujer</h2>
    <div class="cards-container">
        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/renera_mujer.jpg" 
                    data-images='[
                        "./assets/fotos_productos/renera_mujer.jpg",
                        "./assets/fotos_productos/canguro_dama.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Remera</h3>
            <p>Talles S al Xl</p>
            <p>$18.000</p>
            <button onclick="addToCart('Remera Mujer', 18000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_dama.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_dama.jpg",
                        "./assets/fotos_productos/renera_mujer.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Canguro</h3>
            <p>Talles S al Xl</p>
            <p>$12.000</p>
            <button onclick="addToCart('Canguro Mujer', 12000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/renera_mujer.jpg" 
                    data-images='[
                        "./assets/fotos_productos/renera_mujer.jpg",
                        "./assets/fotos_productos/canguro_dama.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Remera Basica</h3>
            <p>Talles S al Xl</p>
            <p>$10.000</p>
            <button onclick="addToCart('Remera Mujer Basica', 10000)">Agregar</button>
        </div>

        <div class="card">
            <div class="img-container">
                <button class="prev">◀</button>

                <img src="./assets/fotos_productos/canguro_dama.jpg" 
                    data-images='[
                        "./assets/fotos_productos/canguro_dama.jpg",
                        "./assets/fotos_productos/renera_mujer.jpg"
                    ]'>

                <button class="next">▶</button>
            </div>
            <h3>Canguro Oversize</h3>
            <p>Talles S al Xl</p>
            <p>$16.000</p>
            <button onclick="addToCart('Canguro Mujer Oversize', 16000)">Agregar</button>
        </div>
    </div>
</section>